.sui-Card {
  background-color: $c-gray-lighter;

  &-primary {
    margin: 0;
  }

  &-secondary {
    padding: 1em;
  }

  &-title {
    margin: 0;
  }

  &-description {
    margin: 1em 0 0;
  }

  &--landscape {
    overflow: hidden;

    .sui-Card-primary {
      float: left;
    }
  }

  &--contentfirst {
    .sui-Card-primary {
      float: right;
    }
  }
}

