.sui-Card-media {

  &--no-picture {
    background: $c-bg url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACO0lEQVR42u3bsUvDQBQG8FJKB4cOIiIOTuLg5OAo4likQ0cnhyIOIo6OLg5FioOjOPYPcBBxdmknKcWladqhk5OIOIhIqd/pBUKaJmnMpfeSd/AtzV1e7keSXlKaybg00zQLyEiztJD5TBxNU4D4EDQGGHW73RaiFkFngFgQdAdQjkABQCmCD0AFRbdVB3XqM0PwAdhQctqNH0N1yjNhIbUAEqEdGQJFgEgRqAJEdjlQBogEgTqAdTkYhhEOIQkAMu1erzc9QoIAwiEkDOAXAcmlGUCkwAAMQAig3+/v4uZ1OU1M7wcoWgBhmjg2BmAABmAABtABoNFoZFMJgO0l5Fn2HSBHqQHANvE2d+gyJhYEHQDuJowZpAJAvIWZMGYYtDaWwMEfW3UD8FiLt4PUxXp+CX0fARkKQQeANeTN0f8bEyv61cSks+j7IMeckASwIYgzQfyWf4tsBax5bKshEBdJAoRp2Oc68umoc5M4ALeXk/gsL8+WsRsnspkYAEx0Ti6Qqo5aNY9aTXFvSAQAxl3b9nEmP9uZsHCyZ588AMbsuezn3PxbKo988hL04LUEQP9V5D3ARL1SIwkgb3BP/5y8yJf4eiUHgL5XEUzeyj0pAPQrRzh5KyUSAOizgrwqABAtrzUAtueQpoLJWznVHeBC4eRFPpBlLQGwrWj6L2yiSF1LACxby8hhDDnodDp5l+Oe/SUwy8YADMAADMAADMAADKAaIJa/zIT8m00lDgCqYQAGYAAGYABn+wG97ar7jtyhCwAAAABJRU5ErkJggg==') no-repeat center;
    height: 210px;
  }

  img {
    width: auto;
    min-width: 100%;
    min-height: 210px;
  }
}
